.chart-widget{
    background-color: white;
    padding: 10px 20px;
    width: 100% !important;
}

.chart-widget .fromlinkdin{
    margin-bottom: 15px;
}

.chart-widget .linkdinp{
    margin: 0;
    font-weight: bold;
}

.tableworkbuttonlinkdin{
    display: flex;
    position: absolute;
    left: 74%;
    top: 0;
    gap: 5px;
}

@media(max-width:768px){
    .table-responsive{
        margin-top: 94px;
    }
}

.pagination-first{
    display: flex;
    justify-content: flex-end;
    margin-top: 9px;
}