.tableworkbuttonproject{
    display: flex;
    gap: 5px;
  }


  .projectdeatilstable{
    margin-top: 10px;
    width: 100%;
  }

  .pagination-first{
    display: flex;
    justify-content: flex-end;
    margin-top: 9px;
}